<div class="navbar navbar-default" style="background-color:lightskyblue">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="" routerLinkActive="active" class="navbar-brand"><strong
                    style="color:mediumblue">BEST</strong><strong style="color:crimson">jobs</strong></a>
        </div>
        <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav" style="align-items: center;">
                <li class="nav-item" style="margin-inline-start: 400px;">
                    <a class="nav-link" routerLink="/candidat" routerLinkActive="active"
                        style="background-color:lightskyblue;">Candidat</a>
                </li>
                <li class="nav-item" style="margin-inline-start: 50px;">
                    <a class="nav-link" routerLink="/angajator" routerLinkActive="active"
                        style="background-color:lightskyblue;">Angajator</a>
                </li>
            </ul>
            <ul *ngIf="!user" class="topnav-right">
                <button class="btn btn-primary" (click)="inregistrare()">Cont nou</button>
                <button class="btn btn-primary" (click)="login()">Autentificare</button>
            </ul>

            <div *ngIf="user" class="topnav-right" style="display: inline;align-content: center;">
                <div class="dropdown" [matMenuTriggerFor]="menu" style="font-size: 15px;margin-bottom: 5px;margin-right:0px;">
                    <mat-icon svgIcon="user" aria-hidden="true" style="width:20px;height:20px;margin-right: 10px;margin-bottom: 10px;">
                    </mat-icon>{{user}}
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="goToProfile()">Profil</button>
                    <button mat-menu-item>Joburi favorite</button>
                    <button mat-menu-item (click)="goToContracte()">Status</button>
                    <button mat-menu-item>Contracte</button>
                    <button mat-menu-item>Setari</button>
                    <button mat-menu-item (click)="logout()">Deconectare</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>