<div class="container">
    <h1>Adăugare Anunț</h1>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="titlu">Titlu Anunț</label><br>
            <input type="text" id="titlu" placeholder="ex.Organizator evenimente" formControlName="titlu"
                class="formControl">
            <span *ngIf="!postForm.get('titlu').valid && postForm.get('titlu').touched" class="help-block">
                <span *ngIf="postForm.get('titlu').errors['required']">Câmp obligatoriu!</span>
            </span>
        </div>
        <div class="form-group">
            <label for="nume">Nume</label><br>
            <input type="text" id="nume" formControlName="nume" class="formControl">
            <span *ngIf="!postForm.get('nume').valid && postForm.get('nume').touched" class="help-block">
                <span *ngIf="postForm.get('nume').errors['required']">Câmp obligatoriu!</span>
            </span>
        </div>
      <div class="form-group">
        <h4>Alegeți categoria dorită</h4>
        <mat-form-field>
          <mat-label>Categorie</mat-label>
          <mat-select [formControl]="categoryControl" required>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryControl.hasError('required')">Alege o categorie</mat-error>
        </mat-form-field>
      </div>

        <div class="form-group">
            <label for="locatie">Locatie</label><br>
            <input type="text" id="locatie" formControlName="locatie" class="formControl">
            <span *ngIf="!postForm.get('locatie').valid && postForm.get('locatie').touched" class="help-block">
                <span *ngIf="postForm.get('locatie').errors['required']">Câmp obligatoriu!</span>
            </span>
        </div>
        <div class="form-group">
            <label for="descriere">Descriere Anunț</label>
            <textarea class="form-control" id="descriere" rows="10" formControlName="descriere"
                placeholder="Descriere..."></textarea>
        </div>
        <div class="form-group">
            <label for="salariu">Salariu așteptat</label><br>
            <div class="form-row">
                <div class="min">
                    MIN:<input type="text" id="salariu" style="width:100px;margin: 10px;" class="form-control"
                        formControlName="salariu-min">EURO
                    <span *ngIf="!postForm.get('salariu-min').valid && postForm.get('salariu-min').touched"
                        class="help-block">
                        <span *ngIf="postForm.get('salariu-min').errors['required']">Câmp obligatoriu!</span>
                    </span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Postează anunț</button>
    </form>
</div>
