<div class="container">
    <div *ngIf="rezultate.length>0">
        <mat-grid-list cols=3 #grid rowHeight="350px" gutterSize="15px">
            <mat-grid-tile *ngFor="let rezultat of rezultate">
                <mat-card class="example-card">
                    <img mat-card-image src='../../../assets/images/{{rezultat.logo}}'>
                    <mat-card-header>
                        <mat-card-title>{{rezultat.titlu}}</mat-card-title>
                        <mat-card-subtitle>{{rezultat.angajator}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{rezultat.descriere}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Detalii</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="rezultate.length==0">
        <p style="color: tomato;">Ne pare rău!Nu s-a gasit niciun rezultat!</p>
    </div>

</div>