<div class="container">
  <h1>Crează-ți contul</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prenume">Prenume</label><br>
      <input type="text" id="prenume" formControlName="prenume"
             class="formControl">
      <span *ngIf="!postForm.get('prenume').valid && postForm.get('prenume').touched" class="help-block">
                <span *ngIf="postForm.get('prenume').errors['required']">Câmp obligatoriu!</span>
            </span>
    </div>
    <div class="form-group">
      <label for="nume">Nume</label><br>
      <input type="text" id="nume" formControlName="nume" class="formControl">
      <span *ngIf="!postForm.get('nume').valid && postForm.get('nume').touched" class="help-block">
                <span *ngIf="postForm.get('nume').errors['required']">Câmp obligatoriu!</span>
            </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label><br>
      <input type="text" id="email" formControlName="email" class="formControl">
      <span *ngIf="!postForm.get('email').valid && postForm.get('email').touched" class="help-block">
                <span *ngIf="postForm.get('email').errors['required']">Câmp obligatoriu!</span>
            </span>
    </div>
    <div class="form-group">
      <label for="parola"> Parolă</label>
      <input type="password" class="form-control" id="parola" formControlName="parola">
      <span *ngIf="!postForm.get('parola').valid && postForm.get('parola').touched" class="help-block">
                <span *ngIf="postForm.get('parola').errors['required']">Câmp obligatoriu!</span>
            </span>
    </div>

      <div class="form-group">
        <label for="oras">Oraș</label><br>
        <input type="text" id="oras" class="form-control" formControlName="oras">
        <span *ngIf="!postForm.get('oras').valid && postForm.get('oras').touched" class="help-block">
                <span *ngIf="postForm.get('oras').errors['required']">Câmp obligatoriu!</span>
            </span>
      </div>

      <div class="form-group">
        <label for="data">Data Nașterii</label><br>
        <input type="date" id="dataNasterii"  class="form-control" formControlName="dataNasterii">
        <span *ngIf="!postForm.get('dataNasterii').valid && postForm.get('dataNasterii').touched" class="help-block">
                <span *ngIf="postForm.get('dataNasterii').errors['required']">Câmp obligatoriu!</span>
            </span>
      </div>

        <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Inregistrare</button>
  </form>

  <a routerLink="/login" routerLinkActive="active">Ai deja un cont? Accesează-l</a>
</div>
