<div class="container">
    <img mat-card-image src='../../assets/images/background-images-for-job-portal-6.jpg'>
    <p>
        <strong style="color:mediumblue">BEST</strong><strong style="color:crimson">jobs</strong> face mai
        ușoară
        comunicarea dintre angajați și angajatori și facilitează colaborarea dintre aceștia pe toată perioda
        încheierii contractului.
    </p>
    <div class="row">
        <button class="btn btn-primary" (click)="candidat()">Candidat</button>
        <button class="btn btn-primary">Angajator</button>
    </div>
</div>